Annual_Cover_All_Years_20220809.csv
Annual_fish_comb_20220809.csv
SBCLTER_Species_List_Master_20210113.csv
Monthly_Fish_All_Years_20221018.csv
LTE_All_Species_Biomass_at_transect_20230323.csv
environmental
BBS
sbc_fish
konza_birds
sev_grasshopper
