Sevilleta_LTER_Hourly_Meteorological_Data_1995_1999.csv
Sevilleta_LTER_Hourly_Meteorological_Data_2000_2004.csv
Sevilleta_LTER_Hourly_Meteorological_Data_2005_2009.csv
Sevilleta_LTER_Hourly_Meteorological_Data_2010_2014.csv
Sevilleta_LTER_Hourly_Meteorological_Data_2015_2019.csv
Sevilleta_LTER_Hourly_Meteorological_Data_2020_2022.csv
sev331_quadrat_plant_species_biomass.csv
