MCMCoutput.html
a1.Vis[100].png
a1.Vis[101].png
a1.Vis[102].png
a1.Vis[103].png
a1.Vis[104].png
a1.Vis[105].png
a1.Vis[106].png
a1.Vis[107].png
a1.Vis[108].png
a1.Vis[109].png
a1.Vis[10].png
a1.Vis[110].png
a1.Vis[111].png
a1.Vis[112].png
a1.Vis[113].png
a1.Vis[114].png
a1.Vis[115].png
a1.Vis[116].png
a1.Vis[117].png
a1.Vis[118].png
a1.Vis[119].png
a1.Vis[11].png
a1.Vis[120].png
a1.Vis[121].png
a1.Vis[122].png
a1.Vis[12].png
a1.Vis[13].png
a1.Vis[14].png
a1.Vis[15].png
a1.Vis[16].png
a1.Vis[17].png
a1.Vis[18].png
a1.Vis[19].png
a1.Vis[1].png
a1.Vis[20].png
a1.Vis[21].png
a1.Vis[22].png
a1.Vis[23].png
a1.Vis[24].png
a1.Vis[25].png
a1.Vis[26].png
a1.Vis[27].png
a1.Vis[28].png
a1.Vis[29].png
a1.Vis[2].png
a1.Vis[30].png
a1.Vis[31].png
a1.Vis[32].png
a1.Vis[33].png
a1.Vis[34].png
a1.Vis[35].png
a1.Vis[36].png
a1.Vis[37].png
a1.Vis[38].png
a1.Vis[39].png
a1.Vis[3].png
a1.Vis[40].png
a1.Vis[41].png
a1.Vis[42].png
a1.Vis[43].png
a1.Vis[44].png
a1.Vis[45].png
a1.Vis[46].png
a1.Vis[47].png
a1.Vis[48].png
a1.Vis[49].png
a1.Vis[4].png
a1.Vis[50].png
a1.Vis[51].png
a1.Vis[52].png
a1.Vis[53].png
a1.Vis[54].png
a1.Vis[55].png
a1.Vis[56].png
a1.Vis[57].png
a1.Vis[58].png
a1.Vis[59].png
a1.Vis[5].png
a1.Vis[60].png
a1.Vis[61].png
a1.Vis[62].png
a1.Vis[63].png
a1.Vis[64].png
a1.Vis[65].png
a1.Vis[66].png
a1.Vis[67].png
a1.Vis[68].png
a1.Vis[69].png
a1.Vis[6].png
a1.Vis[70].png
a1.Vis[71].png
a1.Vis[72].png
a1.Vis[73].png
a1.Vis[74].png
a1.Vis[75].png
a1.Vis[76].png
a1.Vis[77].png
a1.Vis[78].png
a1.Vis[79].png
a1.Vis[7].png
a1.Vis[80].png
a1.Vis[81].png
a1.Vis[82].png
a1.Vis[83].png
a1.Vis[84].png
a1.Vis[85].png
a1.Vis[86].png
a1.Vis[87].png
a1.Vis[88].png
a1.Vis[89].png
a1.Vis[8].png
a1.Vis[90].png
a1.Vis[91].png
a1.Vis[92].png
a1.Vis[93].png
a1.Vis[94].png
a1.Vis[95].png
a1.Vis[96].png
a1.Vis[97].png
a1.Vis[98].png
a1.Vis[99].png
a1.Vis[9].png
deviance.png
eta[100].png
eta[101].png
eta[102].png
eta[103].png
eta[104].png
eta[105].png
eta[106].png
eta[107].png
eta[108].png
eta[109].png
eta[10].png
eta[110].png
eta[111].png
eta[112].png
eta[113].png
eta[114].png
eta[115].png
eta[116].png
eta[117].png
eta[118].png
eta[119].png
eta[11].png
eta[120].png
eta[121].png
eta[122].png
eta[12].png
eta[13].png
eta[14].png
eta[15].png
eta[16].png
eta[17].png
eta[18].png
eta[19].png
eta[1].png
eta[20].png
eta[21].png
eta[22].png
eta[23].png
eta[24].png
eta[25].png
eta[26].png
eta[27].png
eta[28].png
eta[29].png
eta[2].png
eta[30].png
eta[31].png
eta[32].png
eta[33].png
eta[34].png
eta[35].png
eta[36].png
eta[37].png
eta[38].png
eta[39].png
eta[3].png
eta[40].png
eta[41].png
eta[42].png
eta[43].png
eta[44].png
eta[45].png
eta[46].png
eta[47].png
eta[48].png
eta[49].png
eta[4].png
eta[50].png
eta[51].png
eta[52].png
eta[53].png
eta[54].png
eta[55].png
eta[56].png
eta[57].png
eta[58].png
eta[59].png
eta[5].png
eta[60].png
eta[61].png
eta[62].png
eta[63].png
eta[64].png
eta[65].png
eta[66].png
eta[67].png
eta[68].png
eta[69].png
eta[6].png
eta[70].png
eta[71].png
eta[72].png
eta[73].png
eta[74].png
eta[75].png
eta[76].png
eta[77].png
eta[78].png
eta[79].png
eta[7].png
eta[80].png
eta[81].png
eta[82].png
eta[83].png
eta[84].png
eta[85].png
eta[86].png
eta[87].png
eta[88].png
eta[89].png
eta[8].png
eta[90].png
eta[91].png
eta[92].png
eta[93].png
eta[94].png
eta[95].png
eta[96].png
eta[97].png
eta[98].png
eta[99].png
eta[9].png
psi[100].png
psi[101].png
psi[102].png
psi[103].png
psi[104].png
psi[105].png
psi[106].png
psi[107].png
psi[108].png
psi[109].png
psi[10].png
psi[110].png
psi[111].png
psi[112].png
psi[113].png
psi[114].png
psi[115].png
psi[116].png
psi[117].png
psi[118].png
psi[119].png
psi[11].png
psi[120].png
psi[121].png
psi[122].png
psi[12].png
psi[13].png
psi[14].png
psi[15].png
psi[16].png
psi[17].png
psi[18].png
psi[19].png
psi[1].png
psi[20].png
psi[21].png
psi[22].png
psi[23].png
psi[24].png
psi[25].png
psi[26].png
psi[27].png
psi[28].png
psi[29].png
psi[2].png
psi[30].png
psi[31].png
psi[32].png
psi[33].png
psi[34].png
psi[35].png
psi[36].png
psi[37].png
psi[38].png
psi[39].png
psi[3].png
psi[40].png
psi[41].png
psi[42].png
psi[43].png
psi[44].png
psi[45].png
psi[46].png
psi[47].png
psi[48].png
psi[49].png
psi[4].png
psi[50].png
psi[51].png
psi[52].png
psi[53].png
psi[54].png
psi[55].png
psi[56].png
psi[57].png
psi[58].png
psi[59].png
psi[5].png
psi[60].png
psi[61].png
psi[62].png
psi[63].png
psi[64].png
psi[65].png
psi[66].png
psi[67].png
psi[68].png
psi[69].png
psi[6].png
psi[70].png
psi[71].png
psi[72].png
psi[73].png
psi[74].png
psi[75].png
psi[76].png
psi[77].png
psi[78].png
psi[79].png
psi[7].png
psi[80].png
psi[81].png
psi[82].png
psi[83].png
psi[84].png
psi[85].png
psi[86].png
psi[87].png
psi[88].png
psi[89].png
psi[8].png
psi[90].png
psi[91].png
psi[92].png
psi[93].png
psi[94].png
psi[95].png
psi[96].png
psi[97].png
psi[98].png
psi[99].png
psi[9].png
rho.png
sd.lp.png
sd.lpsi.png
sd.vis.png
tau.eta.png
