.DS_Store
DAG_simple.afdesign
Fig1_rarity_is_the_norm.afdesign
FigX_what_does_detection_correction_do.afdesign
FigureX_birdfundiv.afdesign
FigureX_grasshoppers.afdesign
FigureX_modelingframework.afdesign
FigureX_plantloss.afdesign
SI_other_metrics_boxplots.afdesign
